html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #dfdfdf;
  padding: 0.9em 4em;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  max-height: 90vh;
  background: #fff;
  border: 1px solid #000;
  border-radius: 12px;
  overflow: auto;
  box-shadow: 14px 14px 64px rgba(0, 0, 0, 0.3);
}

.btn-group {
  width: 20%;
  padding: 3em 0;
  display: flex;
  justify-content: center;
}
.btn-group button {
  margin: 0 1.4em;
  background: #9fe2f7;
  padding: 1em;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.details {
  padding: 2em;
  display: grid;
  place-items: center;
}

::-webkit-scrollbar {
  width: 15px;
  border-radius: 50%;
  cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 50%;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(71, 21, 255);
  border-radius: 12px;
  transition: 0.5s ease;
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(45, 8, 252);
  border-radius: 12px;
}
